<div class="container">
  <form name="form">
    <legend>Login</legend>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="name" ng-model="profile.name"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" ng-model="profile.password"></input>
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary btn-large" ng-click="login(profile)" ng-disabled="form.$invalid">
        <i class="icon-lock"></i>
        Login
      </button>
      <!-- <button class="btn btn-warning" ng-click="cancel()">
        <i class="icon-cancel"></i>
        Cancel
      </button> -->
      <button class="btn btn-info btn-large" ng-click="signup()">
        <i class="icon-user"></i>
        Sign Up
      </button>
    </div>
  </form>
</div>