<div class="navbar navbar-fixed-top navbar-inverse" ng-controller="HeaderCtrl">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">
        <i class="icon-dashboard icon-2x"></i>
        <span style="font-size: 1em;font-weight: bold;">Mommy-Meter</span>
      </a>
      <ul class="nav pull-right">
        <li><a href="/"><i class="icon-home icon-2x"></i></a></li>
        <li><a href="/profile"><i class="icon-user icon-2x"></i></a></li>
        <li><a href="/tasks"><i class="icon-plus icon-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>