<div class="container">
  <form name="form" class="offset1">
    <div class="control-group">
      <label class="control-label">Email</label>
      <div class="controls">
        <input type="text" name="email" ng-model="profile.email"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="name" ng-model="profile.name"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" ng-model="profile.password"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Start of the Week</label>
      <div class="controls">
        <select ng-model="startDay">
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary" ng-click="save(profile)" ng-disabled="form.$invalid">
        <i class="icon-hdd"></i>
        Save
      </button>
      <button class="btn btn-warning" ng-click="cancel()">
        <i class="icon-cancel"></i>
        Cancel
      </button>
    </div>
  </form>
</div>